@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@model RenderingModel

<div style="text-align: center;">
    <p>header image location...</p>
    @Html.Sitecore().Placeholder("header-logo")
</div>