@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@model RenderingModel

<div>
    @Html.Sitecore().Placeholder("header-logo")
    <!-- consider using statically bound search box instead -->
    @Html.Sitecore().Placeholder("searchbox")
</div>